.App {
    text-align: center;
    background-color: #c5e4e7;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #00474b;
}

.AppLogo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .AppLogo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.appTitle {
    width: 10rem;
    word-break: break-word;
    font-size: 1.8rem;
    letter-spacing: 1rem;
    line-height: 2rem;
}


.AppLink {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
