@import "./abstracts/mixins";

.controls {
  flex-basis: 45%;
  display: flex;
  flex-direction: column;
  padding: .5rem;

  @include respond(phone) {
    flex-basis: 100%;
  }

  &Label {
    font-size: .8rem;
    color: #627073;
  }

  &Input {
    display: flex;
    flex-direction: column;
    align-items: self-end;
    margin-bottom: 1rem;

    &Text {
      display: block;
      width: 100%;
      padding: .375rem .75rem;
      font-size: 1rem;
      border-radius: .25rem;
      border: 2px solid #f3f8fb;
      text-align: right;
      color: hsl(183, 100%, 15%);
      font-weight: bold;
      background-color: #f3f8fb;
      font-family: 'Space Mono', sans-serif;

      &:hover,
      &:active,
      &:focus-visible {
        border: #61aaa1 2px solid;
        outline: none;
        cursor: pointer;
      }
    }

    &Icon {
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      left: 15px;
      font-size: .8rem;
      color: #9eb2b3;
    }
  }

  &Group {
    position: relative;
    width: 100%;
  }
}
