@import "./abstracts/mixins";

.results {
  flex-basis: 50%;
  background-color: #00474b;
  padding: 2rem;
  border-radius: 10px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include respond(tab-land){
    min-height: 40vh;
  }

  @include respond(phone){
    flex-basis: 100%;
  }
}