@import "./abstracts/mixins";

.spliter{
  background-color: #fff;
  border-radius: 15px;
  width: 50%;
  height: auto;
  display: flex;
  padding: 2rem;
  justify-content: space-between;

  @include respond(tab-port){
    flex-direction: column;
  }

  @include respond(phone){
    width: 90%;
  }
}